<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ page.title }} · {{ site.title }}</title>
  <meta name="description" content="{{ site.description }}" />
  <link rel="stylesheet" href="/assets/css/main.css?v={{ site.time | date: '%s' }}">
</head>

<body>
<header class="site-header">
  <div class="container header-row">
    <a class="brand" href="{{ '/' | relative_url }}">Swarit Chaudhari</a>

    <nav class="nav">
      <a href="{{ '/' | relative_url }}">Home</a>
      <a href="{{ '/experience/' | relative_url }}">Experience</a>
      <a href="{{ '/projects/' | relative_url }}">Projects</a>
      <a href="{{ '/education/' | relative_url }}">Education</a>
      <a href="{{ '/publications/' | relative_url }}">Publications</a>
      <a href="{{ '/certifications/' | relative_url }}">Certifications</a>
    </nav>
  </div>
</header>

  <main class="container">
    {{ content }}
  </main>

  <footer class="site-footer">
    <div class="container footer-row">
      <span>© {{ site.time | date: "%Y" }} Swarit Chaudhari</span>
      <span>Built on GitHub Pages</span>
    </div>
  </footer>
</body>
</html>
